--extra-index-url https://download.pytorch.org/whl/cu121
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126

Pillow~=12.1.0
accelerate
catboost~=1.2.8
category_encoders~=2.9.0
datasets
evaluate
ipython~=9.11.0
joblib~=1.5.3
langchain
langchain-openai
langchain_community
lightgbm~=4.6.0
matplotlib~=3.10.0
numpy==1.26.4
pandas~=2.3.3
scikit-learn==1.5.2
scipy~=1.16.3
seaborn~=0.13.2
setuptools #==69.5.1
torchaudio==2.5.1+cu121
torchsummary~=1.5.1
torchvision~=0.25.0+cu126
torch~=2.10.0+cu126
tqdm~=4.67.3
transformers
xgboost~=3.2.0
ydata-profiling~=4.18.1
ydata_profiling